.center{
  text-align: center;
}

span.error {
  color: red;
  margin-left: 35%;
  display: block;
}

.table-button{
  margin:10px;
}
.block{
  display: block;
}
img{
    width: 12%;
    position: absolute;
    height: 50px
}
.nav-div{
  background-color: skyblue;
}
.nav-ul li{
  display: inline-block;
  padding: 15px;
}
ul.nav-ul {
  margin-left: 141px;
}
.nav-ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color:white;
}
.left{
  text-align: right;
}

footer{
  position: absolute;
  bottom: -74px;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

input {
  display: block;
  padding: 10px;
  border: 1px solid skyblue;
  margin: auto;
  margin-bottom: 16px;
  width: 28%;
}

button {
  color: #fff;
  background: skyblue;
  padding: 13px;
  border: none;
  border-radius: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
